<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome</h1>
    <p>  This is the welcome page for Manbir Singh's assignment for CS 493. Please click
      the button below to display your first name and last name based on the profile linked
    to your Google email.
    </p>
    <form action = "/authorization">
        <input type ="submit" value="Click here to display your name">
    </form>

</body>
</html>